@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

@layer base {
  html, body {
    color: var(--foreground);
    background: var(--background);
    font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4 py-6;
  }
}
